<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <p>TODO list app</p>
    <div>
    {% for todo in todos  %} 
       <p>{{todo.title}}</p><br>
       <a href="{% url 'delete' todo.id %}"> Delete </a>
       <a href="{% url 'update' todo.id %}">Update</a>
    {% endfor %}
    </div>
    <div>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add task</button>
        </form>
    </div>
    
</body>
</html>